
#agents_form span.element,#agents_form label{
    float:left;
    width:100%;
}
#agents_form sup{
    font-size:90%;   
    color:orange;
}
#agents_form input{
    float:left;
    width:90%;
    font-size:90%;    
}
#agents_form input#age{
    width:40%;
    font-size:90%;    
}
#agents_form span.desc{
    float:left;
    width:100%;    
    font-size:70%;    
}
#agents_form label.error{
    float:left;
    width:90%;
    font-weight: normal;
    color:orange;
    font-size:70%;    
}
::-webkit-input-placeholder { font-size:90%;color:#BDBDBD; }
::-moz-placeholder { font-size:90%;color:#BDBDBD; } /* firefox 19+ */
:-ms-input-placeholder { font-size:90%;color:#BDBDBD; } /* ie */
input:-moz-placeholder { font-size:90%; color:#BDBDBD; }
