@charset "utf-8";
/* CSS Document */
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


body{	font-family:"Lato", sans-serif;	font-size:1em;	color:#444;}

#wrapper{	width:100%;	text-align:center;}
h1.opening{font-size:240%; color:#666; margin:20px 0 80px 10px;}

/* STRUCTURE */
.head{ background: #1abb9c url(/assets/img/landing/bg_head.png) bottom left repeat-x; padding:10px 0 30px 0;}
.body-bg{background: url(/assets/img/landing/bg_dashed.png) -90px -250px no-repeat;}
.body{ text-align:left; padding: 0; margin: 0 auto;   text-align:left;}
.body.nobg{background:none;}
.footer-top{background:#b2b2b2 url(/assets/img/landing/bg_footer_top.png) top left repeat-x; margin:0; padding:0px 0 20px 0; float:left; width:100%; text-align:center;}
.footer-bottom{background-color:#d1d1d1; margin:0; padding:0; float:left; width:100%;}
.subscribe{margin:-40px auto; width:45%; padding:10px; background:transparent url(/assets/img/landing/bg_button.png) top left repeat-x; border:2px solid #fff; box-shadow:3px 3px 3px rgba(0,0,0,0.5); padding:20px 0;}
.subscribe a{background: transparent url(/assets/img/landing/bulb.png) center left no-repeat; padding:10px 0 10px 70px; font-size:190%; color:#fff; text-transform:uppercase; text-decoration:none; font-weight:900;}
.phones{width:270px; height:450px; background:transparent url(/assets/img/landing/phones.png) top left no-repeat; position:absolute; top:-200px; left:0;}
.bottom-logo{padding:50px 0 20px 0; text-align:center; }
.likes{padding:120px 0 0px 0; text-align:left; }
.likes iframe{margin:0; padding:0; width:100px; height:20px;}
.closure-copy{text-align:left;  color:#858585; font-weight:300; font-size:150%; line-height:1.2em; padding:40px 0 30px 0;}
.credits{padding:50px 0 0 0;}
.credits .made-by{ padding:10px 0 30px 0; font-size:80%; font-weight:bold;}
.credits .made-by img{ vertical-align:middle;}
.credits .mobile-logos{text-align:right; padding:0;}



/* CONTENT */

.block{margin:20px 0 110px 0;}
.block h1 {font-weight:900; font-size:105%; margin-bottom:10px; line-height:1em;}

/* MESSSAGE */
.block.message{margin:0 0 70px 0; width:90%;}
.block.message h1{font-size:220%; margin:50px 0 20px 0;} 
.block .block-copy {margin:2% 0; color:#858585; font-weight:300; font-size:160%; line-height:1.2em;}
.block.message .error{color:#cc0000; font-weight:700; background:url(/assets/img/landing/error.png) center left no-repeat; padding:20px 0 20px 50px; display:block;}
.block.message .thank-you{color:#39c513; font-weight:700; background:url(/assets/img/landing/thanks.png) center left no-repeat; padding:20px 0 20px 50px; display:block;}
.block.message .email-sent { font-weight:900;}
.block.message a.back-home{text-decoration:none; width:100%; display:block; text-align:left; padding:50px 0 0 0; color:#444; font-weight:900;}


/* AGENTI */
.block.agenti{margin:0 0 70px 0;}
.block.agenti fieldset{margin:60px 0;  box-shadow:0px 0px 10px rgba(0,0,0,0.2); padding:10px;background-color:#f1f1f1; border:4px solid #fff;}
.block.agenti .element{ display:block; border-bottom:2px solid #fff; width:97%; padding:10px;}
.block.agenti .element input,
.block.agenti .element select{padding:5px; font-size:90%; width:60%; border-radius:5px; border:1px solid #ccc;}
.block.agenti .element label{ float:left; font-weight:700; width:25%;}
.block.agenti input[type="submit"]{margin:20px; float:right; width:45%; padding:10px; background:transparent url(/assets/img/landing/bg_button.png) top left repeat-x; border:2px solid #fff; box-shadow:3px 3px 3px rgba(0,0,0,0.5); padding:20px 0; color:#fff; font-weight:900; text-transform:uppercase; cursor:pointer; margin-right:5%;}


#sign_up{display:none; background-color:#fff; padding:20px 20px 100px 20px; font-size:110%; font-weight:300; width:45%; color:#858585; border-radius:10px;}
#sign_up h3{margin-bottom:20px; font-weight:900; font-size:200%; color:#000; }
#sign_up input[type="email"]{padding:10px; width:95%; font-size:110%; border-radius:5px; border:3px solid #dbdbdb; margin:0 0 20px 0;}
#sign_up .close{position:absolute; top:-20px; right:-20px; background:url(/assets/img/landing/close.png) center center no-repeat; width:40px; height:40px; text-indent:-9999em; display:block; text-transform:uppercase;}
#sign_up #sign_up_form{padding:40px 0;}
#sign_up .checkbox{padding-bottom:30px; display:block; font-weight:900; font-size:90%;}
#sign_up .iscriviti{color:#fff; text-transform:uppercase; font-weight:700; float:right; font-size:130%;  background:transparent url(/assets/img/landing/bg_button.png) top left repeat-x; border:2px solid #fff; box-shadow:1px 1px 10px rgba(0,0,0,0.5); padding:10px 0; width:120px; margin:0 20px 0 0;}

#sign_up_form label{display:inline;}
#sign_up_form label.error{font-size:150%; font-weight:700; padding:30px 0; display:block; color:#cc0000;}

.response{padding-bottom:140px;}


/* LOGIN */
.block.login{margin:0 0 70px 0;}
.block.login fieldset{margin:20px 0;  box-shadow:0px 0px 10px rgba(0,0,0,0.2); padding:10px;background-color:#f1f1f1; border:4px solid #fff;}
.block.login .element{ display:block; border-bottom:2px solid #fff; width:97%; padding:10px;}
.block.login .element input,
.block.login .element select{padding:5px; font-size:90%; width:60%; border-radius:5px; border:1px solid #ccc;}
.block.login .element label{ float:left; font-weight:700; width:25%;}
.block.login input[type="submit"]{margin:20px; float:right; width:45%; padding:10px; background:transparent url(/assets/img/landing/bg_button.png) top left repeat-x; border:2px solid #fff; box-shadow:3px 3px 3px rgba(0,0,0,0.5); padding:20px 0; color:#fff; font-weight:900; text-transform:uppercase; cursor:pointer; margin-right:5%;}

.element.error{color:#ff0000;}