#sign_up{
  background-color:lime; 
  padding:0;  
}
#sign_up_form{
  background-color:pink;
  margin:0 1em;
  padding:1em;
}
.subscribe-class .ui-dialog-title{
    border:1px solid red;
    background-color:yellow;  
    margin:0 0 1em 0;
    display: none;
    
    
}
.subscribe-class .ui-dialog-titlebar{
    border:none;
    border:1px solid green;
    background-image: none;
    background-color:orange;
    padding: 0 !important;
}
.subscribe-class .ui-icon{
    
    height:22px;
    width:22px;
    border:1px solid #000;
    
}
/*
#sign_up_form
{
  background-color:red;
}

.main-dialog-class
{
  position:relative;
}


.main-dialog-class .ui-widget{
    background-color:orange;
    padding:2em;
}

.main-dialog-class .ui-widget-header
{
  background:transparent;
  font-size:16px;
  border:0;
  text-transform:uppercase;
}

.main-dialog-class .ui-dialog-title{
    display:none;
}

.main-dialog-class .ui-widget-content
{
  background-image:none;
  background-color:#fff;
}

.main-dialog-class .ui-icon .ui-icon-closethick
{
  border:1px solid red;
}

.main-dialog-class .ui-icon-closethick
{
  border:1px solid blue;
}

.main-dialog-class .ui-dialog-titlebar-close{
  position:absolute;
  top:-20px;
  right:0;
    
}
*/