/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		h1.opening{margin:30px 0 50px 10px; font-size:200%;}
		.block{margin-bottom:80px;}
		.subscribe{width:75%;}
		.closure-copy{padding-left:40px;}
		
		/*sign-up*/
		#sign_up{padding:20px; font-size:100%; width:85%;}
	
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.subscribe{width:100%;  font-size:60%;}
		.phones{display:none;}
		.credits .mobile-logos{text-align:center;}
		.body-bg{background:none;}
		.closure-copy{padding:20px 0;}
		h1.opening{margin:20px 0 60px 0; font-size:190%;}
		.block h1{font-size:120%;}
		.block .block-copy{font-size:120%;}
		h1.first{background: url(/assets/img/landing/01_small.png) top left no-repeat; padding-left:80px;}
		h1.second{background: url(/assets/img/landing/02_small.png) top left no-repeat; padding:10px 0 10px 80px;}
		h1.third{background: url(/assets/img/landing/03_small.png) top left no-repeat; padding-left:80px;}
		
		/*sign-up*/
		#sign_up{padding:10px; font-size:100%; width:85%;}
		#sign_up h3{font-size:130%;}
		#sign_up input[type="email"]{width:90%;}
		.likes{padding:0; text-align:center; }
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.subscribe{width:100%;  font-size:60%;}
		.phones{display:none;}
		.credits .mobile-logos{text-align:center;}
		.body-bg{background:none;}
		.closure-copy{padding:20px 0;}
		h1.opening{margin:20px 0 60px 0; font-size:190%;}
		.block h1{font-size:120%;}
		.block .block-copy{font-size:120%;}
		h1.first{background: url(/assets/img/landing/01_small.png) top left no-repeat; padding-left:80px;}
		h1.second{background: url(/assets/img/landing/02_small.png) top left no-repeat; padding:10px 0 10px 80px;}
		h1.third{background: url(/assets/img/landing/03_small.png) top left no-repeat; padding-left:80px;}
		
			/*sign-up*/
		#sign_up{padding:10px; font-size:100%; width:85%;}
		#sign_up h3{font-size:130%;}
		#sign_up input[type="email"]{width:90%;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.subscribe{width:100%;  font-size:60%;}
		.phones{display:none;}
		.credits .mobile-logos{text-align:center;}
		.body-bg{background:none;}
		.closure-copy{padding:20px 0;}
		h1.opening{margin:20px 0 60px 0; font-size:190%;}
		.block h1{font-size:120%;}
		.block .block-copy{font-size:120%;}
		
		/*sign-up*/
		#sign_up{padding:10px; font-size:100%; width:85%;}
		#sign_up h3{font-size:130%;}
		#sign_up input[type="email"]{width:90%;}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/