body{font-family:'Open Sans', sans-serif;font-size:.8em;line-height:1.5em;}
h1,h2,h3,h4,h5,h6{font-family:'Open Sans', sans-serif;font-weight: bold;}
form input,form textarea,form select,form button{font-family:'Open Sans', sans-serif !important;font-size:1em;color:#000;}
input:focus,input:active,input:hover{background-color: #DDD;color:#000;font-weight: bold;}/*#CEFF80*/
textarea:focus,textarea:active,textarea:hover{background-color: #DDD;color:#000;font-weight: bold;}
hr{margin:0 0 1em 0;padding:0;}

/* LAYOUT */
#wrapper{margin:0;padding:0;}
#header{background-color: #DDD}
#page{background-color: #F7F7F7}
#footer{background-color: #DDD}
form .req:after{content:"*";color:orange;}
.error{color: red;font-weight: bold;}

#content h1,h2,h3,h4,h5,h6{margin:0;padding:.2em 0}
#content p{margin:0;padding:.2em 0}

.warning{color:red !important;font-weight:bolder;/*display:block;text-align:center;background:transparent url(/assets/img/warning.png) center left no-repeat;height:20px;width:20px;*/}
.clear{clear:both;}
.center{text-align:center;}
.right{float:right!important;}
.hidden{display:none;}
.long_input{width:99%!important;}
.medium_input{width:50%!important;}
.small_input{width:25%!important;}
.mini_input{width:10%!important;}
.big-corners{-moz-border-radius:12px!important;-webkit-border-radius:12px!important;-khtml-border-radius:12px!important;border-radius:12px!important;}
.medium-corners{-moz-border-radius:8px!important;-webkit-border-radius:8px!important;-khtml-border-radius:8px!important;border-radius:8px!important;}
.small-corners{-moz-border-radius:4px!important;-webkit-border-radius:4px!important;-khtml-border-radius:4px!important;border-radius:4px!important;}

a{text-decoration: none;font-weight: bolder;}
a:hover{text-decoration: underline;color:orange}

#userbox{background-color: #DDDDDD;padding:.5em;margin:.5em 0;}

#userinfo{background-color: #0FF; float:right;}
.avatar{max-height:20px;}
.logo{width:140px;}
.hidden{display:none}


/* LISTS */
ul.dropdown{text-align:left;display:inline;list-style:none;margin:0;padding:0;}
ul.dropdown li{float:left;position:relative;cursor:pointer;margin:0;padding:.5em;}
ul.dropdown li ul{position:absolute;top:30px;left:12px;width:12em!important;display:none;visibility:hidden;z-index:999;padding:0;}
ul.dropdown li ul li{display:block;}
ul.dropdown li:hover ul{display:block;visibility:visible;z-index:999;}
ul.dropdown li.last{float:right;}
ul.dropdown li span{font-weight: bold;;}
ul.dropup{text-align:left;display:inline;list-style:none;margin:0;padding:0;}
ul.dropup li{float:left;position:relative;cursor:pointer;margin:0;padding:.5em;}
ul.dropup li ul{position:absolute;bottom:25px;left:12px;width:12em!important;display:none;visibility:hidden;z-index:999;padding:0;}
ul.dropup li ul li{display:block;}
ul.dropup li:hover ul{display:block;visibility:visible;z-index:999;}
ul.dropup li.last{float:right;}


ul#menutop,ul#menutop ul{width: 960px; margin: 0 auto; padding: 0;background-color:#EEE;padding:0;margin: 0 -10px}
ul#menubottom,ul#menubottom ul{background-color:#EEE;padding:0;margin-left:-10px}



ul.top-level ul{margin:0;padding:0;}
ul.top-level li{list-style:none;margin:0;padding:0;}
ul.top-level a{cursor:pointer;display:block;height:25px;line-height:25px;text-indent:10px;text-decoration:none;width:100%;}
ul.top-level a:hover{text-decoration:underline;}
ul.top-level li:hover{background-color:#DDD;position:relative;}
li:hover .sub-level{background-color:#EEE;display:block;position:absolute;left:100%;top:0;border-width:1px;}
ul.sub-level li{border:none;float:left;width:150px;}
ul.top-level .sub-level{background-color:#DDD;top:0;}
.sub-level li:hover .sub-level{display:block;}
.sub-level li .sub-level{background-color:lime;}
ul.top-level,ul.top-level .sub-level .sub-level{background-color:#DDD;}
ul.sub-level,li:hover .sub-level .sub-level{display:none;}

span#small_map{display:block;width:98%;height:100px;margin:1% 0 2%;}
span#medium_map{display:block;width:98%;height:250px;margin:1% 0 2%;}
span#dashboard_map{display:block;width:80%;margin:1em auto;height:350px;background: #FFF url(/assets/img/ajax-loader.gif) center center no-repeat;}

table{border:1px solid #DDD;font-family:'Open Sans', sans-serif;font-size:1em;line-height:1.5em;float:left;width:98%;border-collapse:collapse;margin:auto 1%;}
table td{border:1px solid #DDD;padding:.5em;}
table th{background-color:#DDD;font-weight: bold;border:1px solid #DDD;padding:.5em;}
table td{border:1px solid #DDD;padding:.5em;}
.inactive{background-color:#EEE;font-style: italic;font-weight: normal !important}
tr.inactive{background-color:#FEFFB2}
table#paginated{margin:1%;}
table#paginated caption{text-align:left;font-weight:700;font-size:200%;color:#222;display:none;padding:1em .5em;}
table#paginated th{background-color:#DDD;}
table#paginated th:hover{font-weight:700;}
table#paginated th.first{border:none;border-bottom:1px solid #DDD;}
table#paginated th.last{border:none;border-bottom:1px solid #DDD;}
table#paginated td{border:none;border-bottom:1px solid #DDD;}
p#pagination{float:left;width:98%;margin:0 0 0 5px;}
p#pagination span{display:block;float:left;background-color:#DDD;margin:0 2px 0 0;padding:.2em 1em;}
p#pagination span:hover,p#pagination span.current{background-color:orange;color:#FFF;}
p#pagination span a{display:block;}
p#pagination span a:hover{color:#000;}

.today a{font-weight: bold;}
table.calendar{margin:1em 0;}
table.calendar th{font-weight:bold;}
table.calendar th.day_header{width:14%;}
table.calendar a.pick{display:block;width:100%;text-align:center;}
table.calendar span{display:block;width:100%;text-align:center;}
table.calendar a{display:block;width:100%;text-align:center;}
table.calendar a.pick:hover{color:#000;background: transparent url(/assets/img/closed-trasparent.png) center left no-repeat;}
.closed{color:#000;background: transparent url(/assets/img/closed.png) center left no-repeat;font-weight:bold;color:#737373}
.datehighlight{background-color:orange;color:#FFF;}
table.calendar a.pickevent:hover{color:#000;background: transparent url(/assets/img/event-trasparent.png) center left no-repeat;}
.assigned{color:#000;background: transparent url(/assets/img/event.png) center left no-repeat;font-weight:bold;color:#737373}
table tr:hover{background-color: #DDD;font-weight: bold;}
table.calendar tr:hover{background-color:inherit;font-weight: normal;}
table.calendar td:hover{background-color: #DDD;font-weight: bold;}

table#week td{margin:0;padding:0}
table#week td span{float:left;width:45%;display:block;background-color: yellow;margin:0;padding:0}
table#week td a.numup{display:block;background-color: pink;margin:0;padding:0}
table#week td a.numdown{display:block;background-color: orange;margin:0;padding:0}
/*
.content{margin:0;padding:0;}
.content p{margin:0;padding:0;background-color: yellow}
.content .dropdown{margin:0;padding:0;background-color: pink !important}
.content h4{margin:0;padding:.5em 0;border-bottom:1px solid #DDD;color:#4285F4}
.content h3{margin:0;padding:0 0 .5em 0;border-bottom:1px solid #DDD;}
*/
/* SKELETON HACKS */
.container{min-height:100%;}
.column, .columns {min-height:100%;} 
.columns{padding:0;}

.desc{display:block;padding:.2em 0;}

/*
fieldset{margin:0;padding:1em 0;background-color: #F8F6F6;}
legend{margin:0;padding:0 .5em;font-size:130%;font-weight:bolder;}
label{font-weight:bolder;font-size:110%;}
*/


#tabs { 
    background: transparent; 
    border: none; 
    font-family:'Open Sans', sans-serif;
    font-size:1em !important;
    margin:0;padding:0;    
} 
#tabs span{display:block;}
#tabs .float{float:left;width:45%;padding:.5em;}
#tabs .full{float:left;width:98%;padding:.5em;background-color: lime;}

#tabs input{font-weight:normal;font-family:'Open Sans',#tabs  sans-serif !important;font-size:.9em !important;color:#353232;}
#tabs input:hover{font-weight:normal;}

#tabs .long_input,#tabs .chosen{
    border:1px solid red !important;
}

#tabs .ui-widget-content{
    background-color: yellow !important;
}

#tabs .ui-tabs-panel{
    background-color: paleturquoise !important;
}

#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
#tabs .ui-tabs-nav .ui-state-default a:hover{
    color: #74B209
}

#tabs .ui-tabs-nav .ui-state-active a { 
    color: #004F3F; 
}
/*
.ui-widget-header { 
    background: transparent; 
    background-image: none;
    border: none; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;     
} 

.ui-dialog{
    background-color: lime !important;
}
.ui-dialog-content{
    background-color: yellow !important;
}
.ui-dialog-title{
    background-color: yellowgreen !important;
}
.ui-dialog-titlebar{
    background-color: paleturquoise !important;
    background-image: none;
    border: none !important; 
}
*/

/* all */
::-webkit-input-placeholder { color:#666; font-size:.9em !important;}
::-moz-placeholder { color:#666;font-size:.9em !important;} /* firefox 19+ */
:-ms-input-placeholder { color:#666;font-size:.9em !important; } /* ie */
input:-moz-placeholder { color:#666;font-size:.9em !important; }
::-webkit-input-placeholder:hover { font-weight:normal}
::-moz-placeholder:hover { color:#000;font-weight:normal;} /* firefox 19+ */
:-ms-input-placeholder:hover { color:#000;font-weight:normal; } /* ie */
input:-moz-placeholder:hover { color:#000;font-weight:normal; }

/* GALLERY */
.media{padding:0;margin:0;border: 1px solid #DDD;}
.media_actions{padding:0;margin:0}
.thumb{width:120px;}
.media_image{border: 1px solid #DDD;margin:0;padding:5px;}

