/*
body{background-color: #676E7D;}
.container{background-color: #FFF}
#header,#footer{background-color: #03103A;}
ul.dropdown,ul.dropdown li ul {background-color: #03103A;}
#header h1,#header p,#header a{color:#FFF}
#footer h1,#footer p,#footer a{color:#FFF}
table th{background-color:#03103A !important;color:#FFF;border:none;border:1px solid #03103A;}
#content h1,h2,h3,h4,h5,h6,label{color:#03103A}
#content h1,h2,h3,h4,h5,h6{padding:.5em 0}
*/